# Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, KFold, cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, accuracy_score

# Data Explorations

In [2]:
df= pd.read_csv(r"C:\Users\Lenovo\analyst_pkl\data\combBiodata.csv", sep=';')
df.head(5)

,NAMA,DURATIONS_PERPROJECT,TOTAL_PROJECT,TOTAL_TIME,NIK,STATUS,LAMA_KERJA,DIVISI,KUALIFIKASI,GOL,LOKASI,TIPE KEAHLIAN,KELAS KEAHLIAN,LEVEL KEAHLIAN,KELAS JABATAN,JABATAN
0,Achmad Fauzi,0.0,2.0,2602.0,350000,Kontrak,3,DSO,S1,B1,Jakarta,Perekayasa,6,Perekayasa Madya,2,STAF LV. 3
1,Adi Pratama,7.0,6.0,8064.0,"8502,013",Tetap,16,DSO,S1,C3,Malang,Perekayasa,2,Pimpinan Muda,1,MANAGER
2,Adinda Azzahra,NaN,NaN,NaN,"9112,046",Tetap,16,DAK,S1,B3,Jakarta,Pelaksana,3,Pelaksana Utama,4,STAF LV. 3
3,Afrilia Fajarwati,NaN,NaN,NaN,221001,Kontrak,1,DAK,S1,B1-MI,Malang,Pelaksana,2,Pelaksana Pemula,2,STAF LV.0
4,Afrizal Aditya,29.0,3.0,56.0,"9301,057",Tetap,9,DIP,S1,B3,Malang,Perekayasa,2,Pimpinan Pemula,7,STAF LV. 3 / ASS. SUPERVISOR

# Data Prep

## Null Values

In [3]:
#since that the data needed is only from PPDB, so we can just drop the non-ppdb (the null values)
df1= df.dropna()
df1.isnull().sum()

NAMA                    0
DURATIONS_PERPROJECT    0
TOTAL_PROJECT           0
TOTAL_TIME              0
NIK                     0
STATUS                  0
LAMA_KERJA              0
DIVISI                  0
KUALIFIKASI             0
GOL                     0
LOKASI                  0
TIPE KEAHLIAN           0
KELAS KEAHLIAN          0
LEVEL KEAHLIAN          0
KELAS JABATAN           0
JABATAN                 0
dtype: int64

In [4]:
df1.nunique()

NAMA                    40
DURATIONS_PERPROJECT    19
TOTAL_PROJECT           22
TOTAL_TIME              39
NIK                     40
STATUS                   2
LAMA_KERJA              12
DIVISI                   6
KUALIFIKASI              1
GOL                     12
LOKASI                   3
TIPE KEAHLIAN            2
KELAS KEAHLIAN           7
LEVEL KEAHLIAN          11
KELAS JABATAN            7
JABATAN                  8
dtype: int64

## Data Corr

the detail steps of data mining are on TIPE_KEAHLIAN.ipynb file

## CSV of LEVEL_KEAHLIAN

In [5]:
df1.to_csv(r"C:\Users\Lenovo\analyst_pkl\data\LEVEL_KEAHLIAN.csv")

## LEVEL_KEAHLIAN Data Prep

In [ ]:
data= pd.read_csv(r"C:\Users\Lenovo\analyst_pkl\data\TIPE_KEAHLIAN.csv")
data.head()